:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);

  width: 80%;
  height: 70%;

  background: white;
}

.close-button {
  grid-row: 5;
  grid-column: 2;
}

.create-button {
  grid-row: 5;
  grid-column: 3;
}
