<form [formGroup]="newCardForm">

  <label *ngFor="let input of inputs">
    {{input.title}}
    <input
      type="text"
      [formControlName]="input.name"
      [id]="input.name"
    />
  </label>

  <label *ngFor="let select of selects">
    {{select.title}}
    <select
      [formControlName]="select.name"
      [id]="select.name"
    >
      <option
        *ngFor="let value of select.values"
        [value]="value"
      >
        {{value}}
      </option>
    </select>
  </label>

  <button
    (click)="close()"
    class="close-button"
  >Отмена</button>

  <button
    (click)="createCard()"
    class="create-button"
    [disabled]="!newCardForm.valid"
  >Создать</button>
</form>
