<app-modal-window
  *ngIf="isNewCardModalWindowActive === true"
>
  <app-new-card-form
    (closeModalWindow)="toggleNewCardModalWindow()"
  ></app-new-card-form>
</app-modal-window>

<app-modal-window
  *ngIf="isNewCardModalWindowActive === true"
>
  <app-edit-card-form
    (closeModalWindow)="toggleNewCardModalWindow()"
  ></app-edit-card-form>
</app-modal-window>

<router-outlet></router-outlet>

<div class="button-container">
  <button
    *ngIf="isCardPage"
    class="edit-new-card-modal-window-button"
    (click)="toggleNewCardModalWindow()"
  >редактировать</button>
  <button
    *ngIf="isCardPage"
    class="remove-card-modal-window-button"
    (click)="deleteCard()"
  >удалить</button>
  <button
    class="show-new-card-modal-window-button"
    (click)="toggleNewCardModalWindow()"
  >добавить</button>
</div>
