.list {
  grid-column: 1 / 2;
  border: 1px solid black;
}

.workarea {
  position: relative;

  grid-column: 2 / end;
  border: 1px solid black;
}

.window-dashboard {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 30px;
  height: 90px;
  border: 1px solid black;
}
