@import url('https://fonts.googleapis.com/css?family=Marcellus');

* {
  font-family: 'Marcellus', serif;
  transition: background 1s, color 1s, text-decoration 1s;
}

button {
  background: transparent;
  outline: 0;
  border: 1px solid green;
  margin: 5px;
  font-size: 2vw;
  cursor: pointer;
  &:hover {
    color: white;
    background: green;
  }
}

body {
  margin: 0px;
}

.root {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;

  background: white;
}
